@use './variables' as var;

// @each $key, $val in var.$colors {
//   .text-#{$key} {
//     color: $val;
//   }

//   .bg-#{$key} {
//     background-color: $val;
//   }

//   //variations
//   @if ($val != black & $val != white) {
//     //light variation
//     @for $i from 1 through 9 {
//       .text-#{$key}-light-#{$i} {
//         color: mix(#ffffff, $val, $i * 10);
//       }
//       .bg-#{$key}-light-#{$i} {
//         background-color: mix(#ffffff, $val, $i * 10);
//       }
//     }

//     //dark variation
//     @for $i from 1 through 9 {
//       .text-#{$key}-dark-#{$i} {
//         color: mix(#000000, $val, $i * 10);
//       }
//       .bg-#{$key}-dark-#{$i} {
//         background-color: mix(#000000, $val, $i * 10);
//       }
//     }
//   }
// }

@each $key, $val in var.$colors {
  .text-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }

  @if ($val != #ffffff & $val != #000000) {
    //light variation
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix(#ffffff, $val, $i * 10);
      }

      .bg-#{$key}-light-#{$i} {
        background-color: mix(#ffffff, $val, $i * 10);
      }

      .text-#{$key}-dark-#{$i} {
        color: mix(#000000, $val, $i * 10);
      }

      .bg-#{$key}-dark-#{$i} {
        background-color: mix(#000000, $val, $i * 10);
      }
    }
  }
}
