@font-face {
  font-family: 'lalehzar';
  src: url('/font/Lalehzar/Lalezar-Regular.ttf');
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'IRANsans';
  src: url('/font/IRANsans/IRANSans.ttf');
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'parastoo';
  src: url('/font/parastoo/web/Parastoo.ttf');
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'sahel';
  src: url('/font/sahel/Sahel.ttf');
  font-style: normal;
  font-weight: normal; 
}
@font-face {
  font-family: 'samim';
  src: url('/font/samim/Samim.ttf');
  font-style: normal;
  font-weight: normal; 
}
@font-face {
  font-family: 'shabnam';
  src: url('/font/shabnam/Shabnam.ttf');
  font-style: normal;
  font-weight: normal; 
}


  @font-face {
  font-family: 'persian';
  src: url('/font/persian/FontPersian.ttf');
  font-style: normal;
  font-weight: normal;
  src: local(''),
  url('/font/persian/FontPersian.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/font/persian/FontPersian.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/persian/FontPersian.woff') format('woff'), /* Modern Browsers */
  url('/font/persian/FontPersian.ttf') format('truetype'), /* Safari, Android, iOS */

} 

@font-face {
  font-family: 'Googlesans';
  src: url('/font/googlesans/GoogleSans');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GooglesansBold';
  src: url('/font/googlesans/GoogleSansBold');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GooglesansLight';
  src: url('/font/googlesans/GooglesansLight');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GooglesansThin';
  src: url('/font/googlesans/GooglesansThin');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CircularStd';
  src: url('/font/circularstd/circularStd.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'pacifico';
  src: url('/font/pacifico/pacifico.ttf');
}
