@use '../abstracts/variables' as var;
.filterSection {
    @media(max-width: 768px){
      display: none;
    }
  }

.filterSectionMobile {
    display: none;
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.24) ;
    margin: 10px auto;
    @media(max-width: 768px) {
      display: block;
    };
  };

  .silderFilterSection{
    @media(max-width: 768px) {
      display: none;   
    }
  }
  .silderFilterSectionMobile{
    display: none;
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.24) ;
    margin: 10px auto;
    @media(max-width: 768px) {
      display: block;
    }
  }

  :export {
    primary: var.$primary
  }

