@use '../abstracts//variables' as var;

.pagination{
    margin-top:  50px ;
    margin-bottom:  50px ;
    display: flex;
    justify-content: center;
    // direction: rtl;   
}

:export {
    primary: var.$primary;
    lightPrimary: var.$lightPrimary;
}