@use './abstracts/variables' as var;
@use './abstracts/mixin' as m;

.loginForm {
    box-shadow: var.$boxShadow;
    padding-top: 3px;
    width: 30%;
    max-width: 400px;
    min-width: 400px;
    margin: 150px auto;
    @media(max-width: 768px) {
      width: 95%;
    }

    .icon{
      color: var.$primary;
      margin: 0 auto;
      font-size: 36px;
    }
    .title{
      color: var.$primary;
      margin: 0 auto;
      font-size: 17px;
    }

    .loginButton {
      @include m.btn(var.$primary)
      }
}